
form {
    width: 50vw;
    background-color: #B1DDEA;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input:focus {
    padding: 20px;
}

form, button, input {
    border-radius: 5px;
    border: 1px solid black;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleInput {
    height: 30px;
}

.thoughtInput {
    height: 120px;
}

button {
    background-color: white;
    height: 30px;
}

i:hover, button:hover {
    cursor: pointer;
}
